<a href="https://colab.research.google.com/github/Manisha021095/Manisha_INFO5731_Fall2022/blob/main/In_class_exercise_01_09072022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (09/07/2022, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [ ]:
# write your answer here
str = "The first In-class-exercise"
len(str)

27

In [ ]:
str = input("Enter a string: ")

c = 0
for s in str:
      c = c+1
print("Length of the input string is:", c)

Enter a string: The first In-class-exercise
Length of the input string is: 27

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [ ]:
# write your answer here
def string_counter(string):  
    req_dict = {}  
    string_list = list(string)
    for i in set(string_list):  
        req_dict[i] = string_list.count(i)
    return req_dict
string_counter("google.com")

{'e': 1, 'c': 1, 'l': 1, 'm': 1, 'g': 2, 'o': 3, '.': 1}

(3) Write a Python program to sum all the items in a list. (4 points)

In [ ]:
# write your answer here
def Total_list(numbers):
    sum_numbers = 0
    for n in numbers:
        sum_numbers += n
    return sum_numbers
print(Total_list([2,11,92,95]))

200

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [ ]:
# write your answer here
def char_change(string):  
    c = string[0]  
    length = len(string) 
    string = string.replace(c, '$')  
    string = c + string[1:]  
    return string  
  
print(char_change('restart'))

resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [ ]:
# write your answer here
import math
def calculate(a, b):
    S= math.pi * math.pow(1+(a/b),3)
    return S
calculate(3, 2)

49.087385212340514

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
# write your answer here
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic4 = {}
for d in (dic1, dic2, dic3): dic4.update(d)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [ ]:
# write your answer here
tuple = ("M", "a", "N", "i", "S", "h", "A")
print("m" in tuple)
print("M" in tuple)

False
True

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [ ]:
# write your answer here

setn = {16, 11, 2, 30, 1, 5}
print("Original set elements:")
print(setn)
print("\nMaximum value of the said set:", max(setn))
print("\nMinimum value of the said set:", min(setn))

Original set elements:
{1, 2, 5, 11, 16, 30}

Maximum value of the said set: 30

Minimum value of the said set: 1

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [ ]:
# write your answer here
import random

def divideStudents(students):
    groups = [[], [], [], [], [], []]
    for group in groups:
        for i in range(0, random.choice([4,5,6])):
            if(len(students) > 0):
                random_pick = random.choice(students)
                students.remove(random_pick)
                group.append(random_pick)
                
  
    print(groups)

divideStudents(['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386', 
                'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609',
                'ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232'])

[['vb0218', 'kg0569', 'sg1297', 'sb1357'], ['sk1390', 'ms1500', 'ja0964', 'kg0470', 'ds0814'], ['fh0141', 'nv0234', 'vm0377', 'dr0609', 'bg0320', 'aos0040'], ['sm1640', 'av0659', 'sk1313', 'gn0108', 'jl1252'], ['sc1229', 'sk1386', 'nm0618', 'ak0956', 'sa1198', 'sm1907'], ['ak0934', 'pr0353', 'sk1458', 'hy0232']]

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [ ]:
# write your answer here
array = [6, 7, 5, 3, 1, 9, 9, 5]
def find(array):
    duplicate_element_array = []
    
    for i in array:
        if array.count(i) > 1 and i not in duplicate_element_array:
            duplicate_element_array.append(i)

   
    
    if len(duplicate_element_array) == 0:
        return -1
    else:
         print("Duplicate element in an array : ", duplicate_element_array)
        
find(array)

Duplicate element in an array :  [5, 9]

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [ ]:
# write your answer here
from datetime import date, timedelta

def Total_Sundays(year):
    dt = date(year, 1, 1) 
    dt += timedelta(days = 6 - dt.weekday()) 
    while dt.year == year:
        yield dt
        dt += timedelta(days = 7)
for s in Total_Sundays(2022):
    print(s)

2022-01-02
2022-01-09
2022-01-16
2022-01-23
2022-01-30
2022-02-06
2022-02-13
2022-02-20
2022-02-27
2022-03-06
2022-03-13
2022-03-20
2022-03-27
2022-04-03
2022-04-10
2022-04-17
2022-04-24
2022-05-01
2022-05-08
2022-05-15
2022-05-22
2022-05-29
2022-06-05
2022-06-12
2022-06-19
2022-06-26
2022-07-03
2022-07-10
2022-07-17
2022-07-24
2022-07-31
2022-08-07
2022-08-14
2022-08-21
2022-08-28
2022-09-04
2022-09-11
2022-09-18
2022-09-25
2022-10-02
2022-10-09
2022-10-16
2022-10-23
2022-10-30
2022-11-06
2022-11-13
2022-11-20
2022-11-27
2022-12-04
2022-12-11
2022-12-18
2022-12-25