<a href="https://colab.research.google.com/github/Manisha021095/Manisha_INFO5731_Fall2022/blob/main/INFO5731_Assignment_One_fall2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INFO5731 Assignment One**

# Question 1

(20 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [ ]:
# Your code here

import random
#Generate 12 random numbers between 1 and 100
randomlist = random.sample(range(1, 100), 12)
print(randomlist)

[10, 57, 87, 8, 4, 68, 79, 44, 33, 27, 34, 82]

In [ ]:
# sorting list in ascending order

randomlist.sort()
randomlist

[4, 8, 10, 27, 33, 34, 44, 57, 68, 79, 82, 87]

In [ ]:
# sorting list in descending order

randomlist.sort(reverse=True)
randomlist

[87, 82, 79, 68, 57, 44, 34, 33, 27, 10, 8, 4]

In [ ]:
# Calculating average for list

from numpy import mean
avg = mean(randomlist)
print("The average of List is ", round(avg, 2))

The average of List is  44.42

# Question 2
(25 points). Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

In [ ]:
# Your code here

# (1) Ask the user to enter two sentences.

sentence_1 = input("Enter sentence 1: ")
print("1. ", sentence_1)
sentence_2 = input("Enter sentence 2: ")
print("2. ", sentence_2)

Enter sentence 1: "My name is Manisha Adulla, enrolled in Data Science program."
1.  "My name is Manisha Adulla, enrolled in Data Science program."
Enter sentence 2: "I have enrolled in INFO 5731, for Fall 2022."
2.  "I have enrolled in INFO 5731, for Fall 2022."

In [ ]:
# (2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence.

print( sentence_1.split())
print( sentence_2.split())

['"My', 'name', 'is', 'Manisha', 'Adulla,', 'enrolled', 'in', 'Data', 'Science', 'program."']
['"I', 'have', 'enrolled', 'in', 'INFO', '5731,', 'for', 'Fall', '2022."']

In [ ]:
# (3) Compare the two sentences. Print out a list of words that occur in both sentences.

class Solution:
    def solve(self, s0, s1):
        s0List = s0.split(" ")
        s1List = s1.split(" ")
        return list(set(s0List)&set(s1List))
ob = Solution()
print(ob.solve(sentence_1,sentence_2))

['enrolled', 'in']

In [ ]:
# (4) Remove any punctuation from the sentence and print it back out.

import re
 
# Removing punctuations in string
# Using regex
remove_punct_1 = re.sub(r'[^\w\s]', '', sentence_1)
remove_punct_2 = re.sub(r'[^\w\s]', '', sentence_2) 
# printing result
print("The string after punctuation filter : " + remove_punct_1)
print("The string after punctuation filter : " + remove_punct_2)

The string after punctuation filter : My name is Manisha Adulla enrolled in Data Science program
The string after punctuation filter : I have enrolled in INFO 5731 for Fall 2022

In [ ]:
# (5) Count the number of vowels in the sentences.

def Check_Vow(sentence_1,sentence_2 ,vowels):
    vowel_sentence_1 = [each for each in sentence_1 if each in vowels]
    print(len(vowel_sentence_1))
    print(vowel_sentence_1)
    vowel_sentence_2 = [each for each in sentence_2 if each in vowels]
    print(len(vowel_sentence_2))
    print(vowel_sentence_2) 
# Driver Code

vowels = "AaEeIiOoUu"
Check_Vow(sentence_1,sentence_2, vowels);

20
['a', 'e', 'i', 'a', 'i', 'a', 'A', 'u', 'a', 'e', 'o', 'e', 'i', 'a', 'a', 'i', 'e', 'e', 'o', 'a']
11
['I', 'a', 'e', 'e', 'o', 'e', 'i', 'I', 'O', 'o', 'a']

In [ ]:
# (5) Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

# sentence 1:

def Check_Vow(sentence_1, vowels):
     
    
     
    # Forms a dictionary with key as a vowel
    # and the value as 0
    count1 = {}.fromkeys(vowels, 0)
     
    # To count the vowels
    for char in sentence_1:
        if char in count1:
            count1[char] += 1  
    return count1
     
# Driver Code
vowels = 'AaEeIiOoUu'
print (Check_Vow(sentence_1, vowels))

{'A': 1, 'a': 7, 'E': 0, 'e': 5, 'I': 0, 'i': 4, 'O': 0, 'o': 2, 'U': 0, 'u': 1}

In [ ]:
# sentence 2:

def Check_Vow(sentence_2, vowels):
     
    
     
    # Forms a dictionary with key as a vowel
    # and the value as 0
    count2 = {}.fromkeys(vowels, 0)
     
    # To count the vowels
    for char in sentence_2:
        if char in count2:
            count2[char] += 1  
    return count2
     
# Driver Code
vowels = 'AaEeIiOoUu'
print (Check_Vow(sentence_2, vowels))

{'A': 0, 'a': 2, 'E': 0, 'e': 3, 'I': 2, 'i': 1, 'O': 1, 'o': 2, 'U': 0, 'u': 0}

# Question 3 

(15 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [ ]:
# Your code here
import math
print("r","   ","V")
for r in range(1,11):
    V=round(4/3*(3.14)*pow(r,3),2)
    print(r,"   ", V)

r     V
1     4.19
2     33.49
3     113.04
4     267.95
5     523.33
6     904.32
7     1436.03
8     2143.57
9     3052.08
10     4186.67

# Question 4

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [Assignment1_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv) included with this assignment. The file [Assignment1_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [ ]:
# Your code here

import pandas as pd

# Reading file into dataframe 

df = pd.read_csv("Assignment1_denton_housing.csv")
df.head()

   year             title_field  value
0  2014     Total Housing Units  49109
1  2014    Vacant Housing Units   2814
2  2014  Occupied Housing Units  46295
3  2013     Total Housing Units  47888
4  2013    Vacant Housing Units   4215

In [ ]:
df2 = df.loc[df['title_field']=='Occupied Housing Units']

In [ ]:
df2 = df2.sort_values('year')
df2

    year             title_field  value
20  2008  Occupied Housing Units  36711
17  2009  Occupied Housing Units  35916
14  2010  Occupied Housing Units  41007
11  2011  Occupied Housing Units  40704
8   2012  Occupied Housing Units  42108
5   2013  Occupied Housing Units  43673
2   2014  Occupied Housing Units  46295

In [ ]:
# 1) Calculate the difference in the number of Occupied Housing Units from year to year and print it.

df2['value_diff'] = df2['value'].diff(-1)

In [ ]:
df2

    year             title_field  value  value_diff
20  2008  Occupied Housing Units  36711       795.0
17  2009  Occupied Housing Units  35916     -5091.0
14  2010  Occupied Housing Units  41007       303.0
11  2011  Occupied Housing Units  40704     -1404.0
8   2012  Occupied Housing Units  42108     -1565.0
5   2013  Occupied Housing Units  43673     -2622.0
2   2014  Occupied Housing Units  46295         NaN

In [ ]:
# 2) For all the years, calculate the percentage of housing units which are vacant an occupied.

OCCUPIED = 'Occupied Housing Units'
VACANT = 'Vacant Housing Units'
vac_occupied = df[(df['title_field'] == OCCUPIED) | (df['title_field'] == VACANT)]
years = vac_occupied['year'].unique()
years.sort()

for year in years:
    occupied_count = df[(df['title_field'] == OCCUPIED) & (df['year'] == year)]['value'].iloc[0]
    vacant_count = df[(df['title_field'] == VACANT) & (df['year'] == year)]['value'].iloc[0]
    total = occupied_count + vacant_count
    occupied_percentage = (occupied_count / total) * 100
    vacant_percentage = (vacant_count / total) * 100
    print('{} {:.2f}% {:.2f}% '.format(year, occupied_percentage, vacant_percentage))

2008 89.12% 10.88%
2009 90.93% 9.07%
2010 91.86% 8.14%
2011 90.62% 9.38%
2012 93.32% 6.68%
2013 91.20% 8.80%
2014 94.27% 5.73%

In [ ]:
# 3) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied.

vac_occupied = df[(df['title_field'] == OCCUPIED) | (df['title_field'] == VACANT)]
grouped = vac_occupied.groupby(['title_field', 'year']).max().reset_index().sort_values(by=['title_field','value'], ascending=False)
res = grouped.groupby(['title_field']).first()
res

                        year  value
title_field
Occupied Housing Units  2014  46295
Vacant Housing Units    2008   4483

In [ ]:
# (4) Calculate the harmonic mean of the total housing units and print it out.

total_housing_units = df[df['title_field'] == 'Total Housing Units']
numbers = total_housing_units['value'].values

def harmonicMean(numbers):
    n = len(numbers)
    denominator = 0
    for num in numbers:
        denominator += (1 / num)
        return n / denominator

print(numbers)
print("Harmonic mean: ", harmonicMean(numbers))

[49109 47888 45121 44917 44642 39499 41194]
Harmonic mean:  343763.0